@font-face {
	font-family: Roboto;
	src: url(data/Roboto-Regular.ttf);
}

body {
	background-color: #2b2d2f;
	padding: 0px;
	margin: 0px;
}

.topbutton {
	color: white;
	text-decoration: none;
	font-size: 1.8vw;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	height: 4vw;
}

.topbutton:hover {
	background-color: #131056;
}

#topbar {
	width: 100%;
	background-color: #232066;
	height: fit-content;
	margin: 0;
	padding-top: 1.5vw;
	padding-bottom: 1.5vw;
}

* {
	font-family: Roboto, Arial, Helvetica, sans-serif;
}