@font-face {
	font-family: Roboto;
	src: url(data/Roboto-Regular.ttf);
}

body {
	background-color: #2b2d2f;
	padding: 0px;
	margin: 0px;
}

.topbutton {
	color: white;
	text-decoration: none;
	font-size: 2vw;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	height: 4vw;
	flex-direction: column;
	align-self: center;
	padding: auto;
}

#topbar {
	width: 100%;
	background-color: #232066;
	height: 4vw;
	margin: auto;
}

* {
	font-family: Roboto, Arial, Helvetica, sans-serif;
}