@font-face {
	font-family: Roboto;
	src: url(data/Roboto-Regular.ttf);
}

body {
	background-color: #2b2d2f;
	padding: 0px;
	margin: 0px;
}

.topbutton {
	color: white;
	text-decoration: none;
}

#topbar {
	width: 100%;
	align-content: flex-end;
	background-color: #1b1d1f;
}

* {
	font-family: Roboto, Arial, Helvetica, sans-serif;
}